@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* button style */
.btn__primary {
  color: white;
  background-color: #000000;
  font-weight: 500;
}